body{
  margin: 0;
  padding: 0;
}

.topContainer{
  height: 850px;
  width: 100%;
  background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.App-header {
  padding: 20px 30px;
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo p{
  color: yellow;
  font-family: cursive;
  font-size: 30px;
  padding-left: 15px;
  cursor: pointer;
}


.navbar{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px; 
}

.navbar p:hover{
  color: yellow;
  cursor: pointer;
}

.billboardContainer{
  width: 990px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 140px;
  color: white;
}
.billboardContainer h2{
  margin: 0;
  font-size: 40px;
  font-family: cursive;
}
.billboardContainer h1{
  margin: 0;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
}
.billboardContainer button{
  margin-top: 50px;
  color: white;
  font-size: 20px;
  padding: 25px 40px;
  background-color: orange;
  border-radius: 4px;
  border: none;
}

.hamburgerMenu{
  display: none;
  color: white;
}
.hamburgerMenu img{
  font-size: 10px;
  height: 25px;
  filter: invert(1);

}

@media(max-width: 990px){
  .billboardContainer{
    width: 600px;
  }
  .App-header{
    height: 20px;
    background-color: black;
    width: 80%;
  }

  .navbar{
    display: none;
  }

  .hamburgerMenu{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburgerMenu button{
    background-color: orange;
    border: none;
    display: flex;
    align-items: center;
    height: 30px;
    color: white;
    border-radius: 4px;
    font-size: 12px;
  }

}



